.settings-layout{
    -fx-background-color: #323942;
}

.buttons{
    -fx-border-color: #323942;
    -fx-background-color: #323942;
    -fx-font: bold  14 "Consolas";
    -fx-text-fill: #95989a;
    -fx-text-alignment: left;
}

.buttons:hover{
    -fx-background-color: #323942;
    -fx-text-fill: #FDFFF3;
    -fx-cursor: hand;
}

.sntv{
    -fx-pref-height: 30px;
}

.search-bar{
    -fx-background-color: #EFF3F6;
}

.labels{
    -fx-text-fill: #FDFFF3;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size: 22px;
    -fx-font-family: "Consolas";
    -fx-background-color: #6F8395;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.textFields{
    -fx-text-fill: #2C3033;
    -fx-font-size: 18px;
    -fx-font-family: "Consolas";
    -fx-focus-color: -fx-blue;
}

.apply-buttons{
    -fx-border-color: #25AAE1;
    -fx-background-color: #25AAE1;
    -fx-font: bold  16 "Consolas";
    -fx-text-fill: #FDFFF3;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-cursor: hand;
}